*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}
.navegacion{
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 10vh;
    width: 100%;
    background-color: rgb(151, 166, 160,30%);
    display: flex;
}
.navegacion .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0CF25D;
}
.navegacion .options{
    width: 70%;
    gap: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #DBF227;
    font-weight: bolder;
}
.navegacion .options h3{
    cursor: pointer;
}
.navegacion img{
    width: 70px;
}
.principal {
    width: 100vw;
    height: 90vh;
    background-color: #E4F2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}